﻿

    <h2>Studenten</h2>
    @foreach(var student in ViewBag.studenten)
        {
            <ul>
                <li>@student.Id</li>
                <li>@student.Naam</li>
                <li>@student.Afstudeergraad</li>
            </ul>
        }
